.khan__buy-link{
    text-decoration: none;
    color: #2F80ED;
    line-height:42px;
    font-size: 30px;
    font-weight: normal;
    margin-left: 20px;
    
    }
    .khan__buy-link:hover {
        opacity: 50%;
        transition: 1s ease;
    }